
body{
	background: #79818F;
	color: #fff;
	font-family: Helvetica;
/*	font-weight: bold;*/
}

header{
/*	margin-top:5em;
	margin-bottom:3em;*/
}

h1{
	font-family: 'Merriweather', Arial, serif;
	font-weight: 400;
	font-size: 4.1em;
}

h4{
	line-height: 55px;
}

ul{
	margin-bottom: 0 !important;
}

li{
	border: none !important;
	border-radius: 0 !important;
	height: 65px;
	line-height: 45px;
	font-weight: normal;
	font-size: 1.3em;
}

li:nth-child(even){
	background: #BCC0C7;
}

li:nth-child(odd){
	background: #F2F3F4;
	color: #79818F;
}


input, select{
	width: 100%;
	height: 65px;
	border: 4px solid #fff;
	background: #9BA1AB;
	color: #D2D5D9;
	padding: 14px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #D2D5D9;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #D2D5D9;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #D2D5D9;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #D2D5D9;
}

p{
	font-weight: normal;
	font-size: 1.5em;
}

span{
	line-height: 50px;
}

select{
	margin-top: 15px;
}

select > option:hover{
	background: #fff !important;
}
.columns{
	border: 9px solid #F2F3F4;
}

.column:not(:last-child){
	border-right: 9px solid #F2F3F4;
}

.columnTitle{
	background: linear-gradient(to bottom, #C1CAD5 0%, #4D586C 100%);
	height:65px;
	line-height: 65px;
}


.buttonLikeSign{ 
	background: #bbb; 
	background: linear-gradient(to bottom, #C1CAD5 0%, #818FA2 100%);
	height: 55px;
	margin-bottom: 20px;
}


.main{
	text-transform: uppercase;
}

.border{ /*border: 1px solid black;*/}
.padding{ padding: 0;}
.padding-left{ padding-left: 0; }
.pointer{ cursor: pointer;}

#searchBar{
	vertical-align: bottom;
	margin-top: 15px;
}

#addItemBar{
	font-size: 1.3em;
	margin-top: 164px;
	background: transparent;
	color: #fff;
}

#searchForm{
	margin-top: 66px;
}

@media screen and (max-width: 994px){
	input, select, #searchForm {
		margin-bottom: 5px !important;
		margin-top: 0px !important;
		border: 1px solid #fff;
	}

	#searchForm{
		border: none;
	}

	.actionBox{
		padding-right: 0;
	}

	.column{
		border: none !important;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	body{
		font-size: 80%;
	}

	.columnTitle{
		font-size:220%;
		height:auto;
	}

	.pointer{
		font-size:200%;
	}

	input,select, #searchForm{
		height:auto;
	}

	input,select{
		font-size:250%;
	}

	li{
		height:30px;
		line-height:13px;
	}

	span{
		line-height:13px;
	}

}